# MongoDB Configuration
SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/outsmart_ai

# JWT Secret Key (Min 32 characters)
JWT_SECRET=9a8f7e6d5c4b3a210987654321fedcba9a8f7e6d5c4b3a210987654321fedcba

# NVIDIA Nemotron Ultra API Configuration
NVIDIA_API_URL=https://integrate.api.nvidia.com/v1/chat/completions
NVIDIA_API_KEY=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
NVIDIA_MODEL=meta/llama-3.1-nemotron-70b-instruct
